Flask==3.0.0
flask-limiter==3.5.0
flask-wtf==1.2.1
WTForms==3.1.1
Werkzeug==3.0.1
Pillow==10.1.0
# Use CPU-only PyTorch to reduce image size
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.2+cpu
torchvision==0.16.2+cpu
transformers==4.36.2
gunicorn==21.2.0
